.section-footer {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;

    &__link {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;

        &-1{
            position: absolute;
            top: 1.2rem;
            left: 2rem;
            color: $color-white;
            text-decoration: none;
        }

        &-2{
            position: absolute;
            top: 1.2rem;
            right: 2rem; 
            color: $color-white;
            text-decoration: none; 
        }
    }

    &_list {
        position: relative;
        height: 3rem;

        &-1 {
            position: absolute;
            left: 2rem;
        }

        &-2 {
            position: absolute;
            top: 3rem;
            left: 2rem;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .section-footer {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        position: absolute;
        width: 100%;
        height: 8rem; 
        bottom: -38rem;
    
        &__link {
            font-size: 1.1rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
    
            &-1{
                position: absolute;
                top: 1.2rem;
                left: 2rem;
                color: $color-white;
                text-decoration: none;
            }
    
            &-2{
                position: absolute;
                top: 4.2rem;
                left: 2rem; 
                color: $color-white;
                text-decoration: none; 
            }
        }
    
        &_list {
            position: relative;
            height: 9rem;
            font-size: 1.2rem;
    
            &-1 {
                position: absolute;
                left: 1rem;
            }
    
            &-2 {
                position: absolute;
                top: 8rem;
                left: 1rem;
            }
        }
    }
}